{{define "yield"}}
<p><h3>{{.Message}}</h3></p>
<p>If you keep getting this error please reach out to me at
    <a href="mailto:felipeguilhermefs@gmail.com">
        felipeguilhermefs@gmail.com
    </a>.
</p>
{{end}}
